
Code/.ipynb_checkpoints/

Data/train/NORMAL/.ipynb_checkpoints/

Code/__pycache__/

.idea/

*.jpeg

Code/chest_xray/

Code/checkpoints/

Code/figs/.ipynb_checkpoints/

Code/models/__pycache__/

Code/utils/__pycache__/
